.navbar{
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 200vh;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.DesktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}
.DesktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid yellow;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}
.desktopMenuBtn:hover{
    box-shadow: 0 0 1.5rem yellow;
    background: yellow;
}