#intro{
    height: calc(100vh - 4rem);
    width: 200vh;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bg{
    position:absolute;
    top: 4rem;
    right: 2rem;
    z-index: 1;
    object-fit: cover;
    height: 70vh;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}
.bg:hover {
    box-shadow: 0 0 20px 5px yellow;
    transform: scale(1.05); 
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 10rem 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hello{
    font-size: 1.75rem;
    font-weight: 200;
}
.introName{
    color: yellow;
}
.introPara{
    font-size: medium;
    font-weight: 300;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.btnImg{
    object-fit: cover;
    height: 1rem;
    margin-right: 0.50rem;
}